@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif ;
}

:root {
    --primaryColor: #e02c6d;
    --secondaryColor : #fb8200;
    --whiteColor: #fff;
    --dark01: #0a0826; /* for secondary  title */ 
    --dark02: #3a3a3a;  /* for  title */
    --dark03: #6c6c6c; /* for  paragraph */
    --grayColor: #787885; /* for  secondary paragraph */
}

/* You Nick style */

header {
    width: 100%;
}

.navbar {
    width: 90%;
   padding: 1.25rem;
}

.navLinks > li {
    list-style: none;
}

.navbar {
    max-width: 1128px;
    margin: 0 auto;
}

.brandName {
    font-size: clamp(1rem,  2vw ,  2rem ) ;
  
}


.menuBar {
    font-size: 24px;
    font-weight: bold;
    display: none;
}





/* Sheared styled */

.navbar, .navLinks, .navIcons, .navRight {
    display: flex;
    align-items: center;
}

.navLinks, .navRight, .navIcons{
    gap: 0.9rem;
}

.navbar {
    justify-content: space-between;
}



/* responsive styles */

/* for modbile devices */
@media screen and (max-width: 576px) {
    .navRight{
        display: none;
    }
    .menuBar {
        display: block;
    }
}